@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&family=Roboto+Slab&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif; */

*{padding: 0; margin: 0; outline: 0}
a{text-decoration: none}
ul,ol{list-style: none}
html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Roboto';
}

/* navigation part css start */
#nav_section{
    background-color: #E4E4E4;
    padding: 10px 0;
}
.navbar-brand{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4e4e4e;
    font-family: "Roboto Condensed";
}
.navbar-brand:hover{
    color: #1abb9c;
}
.nav-link{
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: bold;
    color: #4e4e4e;
    text-transform: uppercase;
}
.nav-link:hover{
    color: #1abb9c;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #1abb9c;
}
/* navigation part css end */


/* banner section css start */
#banner{
    background-image: url('../images/banner/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
}
.banner_content{
    text-align: center;
}
.banner_content h2{
    font-family: 'Roboto Slab';
    font-weight: bold;
    color: #f3f3f3;
    font-size: 32px;
}
.banner_content h4{
    font-family: 'Roboto Slab';
    color: #a8a8a8;
    font-weight: bold;
    font-size: 24px;
    margin: 50px 0;
}
.banner_content a {
    font-family: 'Roboto Condensed';
    font-weight: 100;
    text-transform: uppercase;
    background-color: #3F8DBF;
    padding: 11px 15px;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    border-bottom: 3px solid #3678A3;
}
/* banner section css end */

/* services section css start */
#services{
    background-color: #f7f7f7;
}
.services{
    border-bottom: 1px solid #dcdcdc;
}
.service_item{
    text-align: center;
    padding: 50px 0;
}
.service_item h2{
    margin-top: 20px;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: bold;
    color: #4e4e4e;
}
.service_item p {
    color: #616161;
    font-size: 14px;
    font-family: roboto;
    margin: 15px;
}
.pellentesque_circle{
    width: 100px;
    height: 100px;
    background-color: #9d9abf;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin: auto;
}
.consectetur_circle{
    width: 100px;
    height: 100px;
    background-color: #d2514b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin: auto;
}
.tristiquet_circle{
    width: 100px;
    height: 100px;
    background-color: #66a3c6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin: auto;
}
.fermentum_circle{
    width: 100px;
    height: 100px;
    background-color: #e8c04f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin: auto;
}
/* services section css end */


/* portfolio section css start */
#portfolio {
    background-color: #f7f7f7;
}
.portfolio {
    padding-top: 50px;
}
.portfolio h2 {
    color: #4e4e4e;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed';
}
.portfolio_item {
    margin: 20px 0;
}
.portfolio_item img {
    width: 100%;
}
.portfolio_item h2 {
    margin-top: 20px;
    color: #4e4e4e;
    font-weight: bold;
    font-family: "Roboto Slab";
    text-transform: capitalize;
    font-size: 18px;
}
.portfolio_item h6 {
    color: #a8a8a8;
    font-family: "Roboto Slab";
    font-size: 13px;
}
.portfolio_item p {
    margin-top: 16px;
    color: #5c5c5c;
    font-family: "Roboto";
    font-size: 14px;
}
#testimonial{
    background-color: #efefef;
}
.testimonial{
    text-align: center;
    padding-top: 50px;
}
.quotes h2{
    color: #dcdcdc;
    font-size: 100px;
    font-family: "sans-serif";
    font-weight: bold;
}
.quotes p {
    color: #a1a1a1;
    font-size: 20px;
    font-family: "Roboto Slab";
    margin-top: -45px;
    margin-bottom: 50px;
}
/* portfolio section css end */

/* footer section css start */
#footer{
    background-color: #1d1d1d;
}
.footer_top{
    padding: 50px 0;
    border-bottom: 2px solid #383838;
}
.footer_item{
    
}
.footer_item h2{
    color: #6c6c6c;
    font-family: "Roboto Condensed";
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.footer_item p{
    color: #cacaca;
    font-family: "Roboto";
    font-size: 14px;
}
.footer_icon{
    color: #a89574;
}
.footer_bottom{
    padding: 50px 0;
}
.footer_bottom p{
    font-size: 14px;
    color: #cacaca;
}
/* footer section css end */













